{% extends 'home/base.html' %}
{% block content %}
 <h3 class="shadow-lg text-center">
  {% block title %}
  -Jugadores de la Liga-
  {% endblock title %}
 </h3>
  {% block content_jugador %}
  <a class="btn btn-primary btn-lg" href="{% url 'jugador:jugador_create' %}"> Crear Jugador </a> <br>
  <a class="btn btn-primary btn-lg" href="{% url 'jugador:jugador_list' %}"> Jugadores inscriptos </a> <br>
  <a class="btn btn-primary btn-lg" href="{% url 'home:index' %}">Volver a inicio </a>
  {% endblock content_jugador %}
{% endblock content %}