{% extends 'jugador/index.html' %}

{% block title %}
    Eliminacion de Jugador
{% endblock title %}

{% block content_jugador %}
    <p class="fs-5 fst-italic">¿Confirmas eliminar el siguiente jugador "{{ object }}"?</p>
    <form method="post">
        {% csrf_token %}
        <div  class="text-center">
            <button type="submit" class="btn btn-danger btn-lg">Confirmar</button>
        </div>
    </form>
    {% url 'jugador:jugador_list' as url %}
    {% include 'home/index_back.html' with link=url %}
    {% url 'home:index' as url %}
    {% include 'home/index_inicio.html' with link=url %}
{% endblock content_jugador %}
