{% extends 'jugador/index.html' %}

{% block content_jugador %}

    {% if object_list %}

        {% block search %}
        {% endblock search%}
    
        {% block list %}
            <div class="container">
                <table class="table">
                    <thead>
                        {% block table_header %}
                        {% endblock table_header %}
                    </thead>
                    <tbody>
                        {% block table_body %}
                        {% endblock table_body %}
                    </tbody>
                </table>
            </div>
            <p class="fs-4 fst-italic text-center shadow-lg">Total de jugadores inscriptos: {{ object_list | length }}</p>
        {% endblock list %}
    {% else %}
        <p class="fs-4 fst-italic text_center shadow-lg">No hay Jugadores ingresados</p>
    {% endif %}

    {% url 'jugador:index' as url %}
    {% include 'home/index_back.html' with link=url %}

{% endblock content_jugador %}
