{% extends 'equipo/index.html' %}

{% block title %}
    Equipos
{% endblock title %}

{% block content_equipo %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-success">Guardar</button>
        </div>
    </form>
    {% url 'equipo:index' as url %}
    {% include 'home/index_back.html' with link=url %}
    {% url 'home:index' as url %}
    {% include 'home/index_inicio.html' with link=url %}
{% endblock content_equipo %}
