{% extends 'home/base.html' %}
{% block content %}
<h1>Panel de Administración</h1>
<div class="text-center">
    <a href="{% url 'home:register' %}" class="btn btn-outline-dark  btn-lg">Registrar nuevo Usuario</a>
    <a href="{% url 'equipo:index' %}" class="btn btn-outline-dark  btn-lg">Registrar, eliminar o actualizar un Equipo</a>
    <a href="{% url 'jugador:index' %}" class="btn btn-outline-dark  btn-lg">Registrar, eliminar o actualizar un Jugador</a>
</div>
{% url 'home:index' as url %}
{% include 'home/index_back.html' with link=url %}  
{% endblock content %}      